[user]
	name = Sven Tschui
	email = sventschui@gmail.com
	signingkey = BED735B0
[push]
	default = current
[core]
	excludesfile = /Users/sventschui/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[merge]
	conflictstyle = diff3
[commit]
	template = /Users/sventschui/.stCommitMsg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff "ansible-vault"]
	textconv = ansible-vault view --vault-password-file=~/.ansiblevault
